<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuntucredit.util.map.mapper.DataMapKeyDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.demoone.utils.map.entity.DataMapKey">
        <id column="id" property="id" />
        <result column="type" property="type" />
        <result column="key" property="key" />
        <result column="use_time" property="useTime" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
    </resultMap>

    <select id="getKey" resultType="com.demoone.utils.map.entity.DataMapKey">
        SELECT
             id,
            `type`,
            `key`,
            use_time AS useTime,
            create_time AS createTime,
            modify_time AS modifyTime
        FROM data_map_key
        WHERE
            type = #{type}
            AND (use_time NOT IN (#{date}) OR use_time IS NULL)
        Limit 0,1
    </select>
</mapper>
